body{
    background-image: url("https://miro.medium.com/v2/resize:fit:800/1*Zu78bdYhIgG8raJIEyjlZQ.jpeg");
}

h2{
    color: white;
}

h1{
    color: white;
}

img{

    height: 370px;
    width: 475px;
}